:root{
	--naranja: #fbb724;
	--azul: #1753c1;
	--fondo: #f9fafc;
}

body{
	background: white;
	font-family: 'Montserrat', system-ui;
	padding: 0;
	margin: 0;
}

.portada{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	& .left{
		background: var(--naranja);
		padding: 4em 5em;
		display: flex;
		align-items: center;
		& .title{
			color: white;
			text-transform: uppercase;
			font-size: 2.5rem;
		}
		& .descripcion{
			color: white;
			margin-bottom: 3em;
		}
		& .btn{
			background: var(--azul);
			color: white;
			padding: 1em 2em;
			text-transform: uppercase;
			border-radius: 5px;
			text-decoration: none;
		}
	}
	& .rigth{
		background: url('../img/bg.jpg') center center no-repeat;
		background-size: cover;
	}
}
.caracteristicas{
	padding: 4em 5em;
	& .title{
		margin-bottom: 2em;
		color: var(--azul);
	}
	& .contenedor{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2em;
		& .item{
			overflow: hidden;
			& .header{
				border-radius: 5px 5px 0 0;
				background: #16305f;
				padding: 2em;
				& .title{
					margin: 0;
					color: white;
				}
			}
			& .body{
				background: color(#02c6b4 a(50%));
				padding: .5em 2em;
				border-radius: 0 0 5px 5px;
				height: 100%;
			}
			
		}
	}
}
.gestion{
	padding: 4em 5em;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: var(--fondo);
	& .title{
		text-align: center;
		color: var(--azul);
		text-transform: uppercase;
	}
	& .grid{
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: 100px 100px 100px;
		margin-top: 8em;
		& .item{
			text-align: center;
			& .icono{
				color: var(--naranja);
				font-size: 3rem;
			}
			& .subtitle{
				color: var(--azul);
			}
			&:nth-of-type(1),&:nth-of-type(3){
				grid-row-start: 1;
				grid-row-end: 3;
			}
			&:nth-of-type(2),&:nth-of-type(4){
				grid-row-start: 2;
			}
		}
	}
}
.disciplinas{
	
	text-align: center;
	padding: 4em 5em;
	& .title{
		color: var(--azul);
		text-transform: uppercase;
		margin-bottom: 3em;
	}
	& .grid{
		display: flex;
		flex-direction: column;
		align-items: center;
		& .flex{
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-bottom: 3em;
			& .icono{
				color: var(--azul);
				font-size: 3rem;
			}
			& .subtitle{
				color: var(--naranja);
			}
			& .circulo{
				display: flex;
				align-items: center;
				justify-content: center;
				& .circle{
					width: 100px;
					height: 100px;
					background: var(--azul);
					border-radius: 50%;
				}
			}
			&:nth-of-type(2){
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

	}
}
.integrantes{
	background: var(--fondo);
	padding: 4em 5em;
	& .grid{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-gap: 2em;
		& .item{
			overflow: hidden;
			border-radius: 15px;
			& .header{
				& .imagen{
					width: 100%;
				}
			}
			& .body{
				background: white;
				display: flex;
				justify-content: center;
				position: relative;
				padding: 5em 2em 2em;
				& .perfil{
					width: 30%;
					overflow: hidden;
					border-radius: 50%;
					margin: 0;
					position: absolute;
					top: -4em;
					border: 1.5px solid var(--azul);
					& .foto{
						width: 100%;
						vertical-align: top;
					}
				}
				& .nombre{
					font-size: 1.2rem;
				}
			}
		}
	}
}

.footer{
	padding: 1em 2em;
	background: var(--azul);
	color: white;
	& a{
		color: var(--naranja);
		text-decoration: none;
	}	
}