<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Introducción a Sistemas
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
body
	section.portada
		.left
			h1.title ¿Que es un sistema?
			p.descripcíon.
				Un Sistema es un conjunto de elementos en interacción; ordenadores, bandada de patos, cerebro, etcétera. En el caso de sistemas humanos (familia, empresa, pareja, etcétera) el sistema puede definirse como un conjunto de individuos con historia, mitos y reglas, que persiguen un fin común.
			a.btn(href="#") Sigue Leyendo
		.right
	section.gestion
		.grid
			.item
				.icono.fas.fa-sitemap
				h3.subtitle Capital organizativo
				p.descripcion Cultura Copulativa. Propiedad Intelectual
			.item
				.icono.fas.fa-
				h3.subtitle
				p.descripcion
			.item
				.icono
				h3.subtitle
				p.descripcion
			.item
				.icono
				h3.subtitle
				p.descripcion
	
	link(rel="stylesheet", href="css/estilos.css")